body{
	margin: 0;
	padding: 0;
}
header{
	margin: 0;
	padding: 0 50px;
	display: flex;
	justify-content:space-between;
	background: #000000;
	height: 60px;
	.logo-eng, .logo-ar{
		display: flex;
		.first-el{
			.title{
				margin: 0;
				color: white;
				font-size: 42px;
				font-family: anisette-std, sans-serif;
				font-style: normal;
				font-weight: 300;
			}
			.subtitle{
				text-align: end;
				margin: 0;
				color: red;
				font-size: 14px;
				font-family: anisette-std, sans-serif;
				font-style: normal;
				font-weight: 300;
				transform: translateY(-8px);
			}
		}
		.sting{
			color:#606060;
			font-size: 42px;
			margin: 0 5px;
		}
		.before{
			color:#606060;
			font-size: 14px;
			transition: 20px;
			font-family: anisette-std, sans-serif;
			font-style: normal;
			font-weight: 300;
			transform: translateY(20%);
		}	
	}
	.logo-ar{
		.first-el{
			.title{
				font-family: 'Heebo', sans-serif;
			}
			.subtitle{
				text-align: center;
				font-family: 'Heebo', sans-serif;
			}
		}
	}
}
.main-content{
	padding: 50px;
	background: #cccccc;
	.section1{
		display: flex;
		justify-content: flex-end;
		margin: 0;
		padding: 0;
		font-family: 'Heebo', sans-serif;
		margin-bottom: 15px; 
		.main-info{ 
			display: flex;
			.content-title{
				display: flex;
				flex-direction: column;
				margin-right: 15px; 
				text-align: end;
				h1{
					font-size:24px;
				}
				.public-time{
					font-size:14px;
				}
				.description{
					font-size:18px;
				}
			}
			.logo-chanel{
				box-sizing: content-box;
				margin-top:25px;
				height: 60px;
				width: 66px;
				padding-top:6px;
				text-align: center;
				color:white;
				background: #0071bc;
				text-align: center;
				font-size:21px;
			}
		}
	}
	.section2{
		.section-video{
			display: flex;
			justify-content: center;
			.coment{
				background-color: white;
				width: 325px;
				min-height: 260px;
			}
			.content{
				position: relative;
				min-width: 750px;
				background-color: black;
				height: 460px;
				.message{
					display: none;
					width: 99.5%;
					text-align: center;
					font-size: 18px;
					padding: 2px;
					color:white;
					position:absolute;
					bottom: 0;
					right:0;
					background: #3fa9f5;
				}
			}:hover{
			 .message{display: block;}
			}
		}
	}

}